{% extends 'base.html' %}

{% block content %}
<title>{% block title %} Order app | Counter {% endblock %}</title>
{% if  message  %} 
    {{ message }}
{% else %}
    <h3>Counter</h3>
    <p> Take Order<p>
     
        <li class='message'> </li>
        
        <form id='new_order' method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit' id='submit'> Take Order</p></button>
        </form>
  

{% endif %} 
 <script src="/static/js/jquery-2.2.4.min.js"></script>
 <script src="/static/js/counter.js"></script>

{% endblock %}