{% extends 'base.html' %}
{% block content %}
<title>{% block title %} Order app | Kitchen {% endblock %}</title>
{% if  message  %}
{{ message }}
{% else %}
<style>
#order, th, td {
  border: 1px solid black;
}
</style>
<h3>Kitchen </h3>

  {% if messages %}
    {% for message in messages %}
        <li> {{ message }} </li>
        {% endfor %}
   {% endif %}

<table id='order'>

  <tr>
    <th>Order Number</th>
    <th>Order Details</th>
    <th>Time Taken</th>
    <th>Taken By</th>
    <th>Fulfilled</th>
    <th> Action </th>

  </tr>
  {% if orders %}
  {% for order in  orders %}
  <tr>
    <td>{{ order.order_number }}</td>
    <td>{{ order.order_details}}</td>
    <td>{{ order.order_date_time }}</td>
    <td>{{ order.taken_by }}</td>
    <td>{{ order.is_fulfilled }}</td>
    <td><a href="{% url 'fulfill_order' id=order.order_number %}">Fulfill Order</a></td>

  </tr>
  {% endfor %}
  {% else %}
  <tr><td colspan= 6>No pending orders </td></tr>
  {% endif %}
</table>
{% endif %}

<script src="/static/js/jquery-2.2.4.min.js"></script>
<script src="/static/js/kitchen.js"></script>

{% endblock %}